<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Event-Login</title>
  <link rel="stylesheet" href="/stylesheets/aboutstyle.css"> <!-- Link to your CSS file -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <div class="left-buttons">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="center-text">
      <h1 class="byte-hack">BYTE HACK</h1>
    </div>
    <div class="right-buttons">
      <ul>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>

  <div class="matrix-effect">
    <canvas id="matrixCanvas"></canvas>
  </div>


  <!-- Main content for About Us -->
  <div class="about-content">
    <div class="about-content">
        <h2>Sorry! there are no upcoming or ongoing events!</h2>
        <p>
          We are a group of people who are trying to bring the CTF (Capture The Flag) event prominently in India as a trend among students and enthusiasts. We focus on creating an experience rather than just a puzzle-solving competition.
        </p>

  </div>


  
  <!-- Include script file for Matrix effect -->
  <script src="/scripts/indexscript.js"></script> <!-- Link to your JavaScript file -->
</body>



</html>
