<!-- views/admin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <a href="/" class="back-button">
    <i class="fas fa-arrow-left"></i> <!-- Font Awesome arrow-left icon -->
</a>
<div class="login-buttons">
  <p class="login-text">
    Users who signed up for the services can use the normal "User Login" way.<br> For those here for event login, credentials will be provided via your mail or by the event organizer.
  </p>
  <button onclick="location.href='/user-login'" style="font-family: 'Nunito Sans', sans-serif;">User Login</button>
  <button onclick="location.href='/event-login'" style="font-family: 'Nunito Sans', sans-serif;">Event Login</button>

</div>
<div class="matrix-effect">
  <canvas id="matrixCanvas"></canvas>
</div>
<script src="/scripts/indexscript.js"></script>
</body>
  <footer class="footer">
    <p>Made by - Eshan Singh |
      <a href="https://twitter.com/eshan___singh" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a> |
      <a href="https://www.linkedin.com/in/eshan-singh-3062501b1/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a> |
      <a href="https://github.com/eshan-singh78" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </p>
  </footer>
</html>
