<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup Page</title>
  <link rel="stylesheet" href="/stylesheets/signupstyle.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <a href="/" class="back-button">
    <i class="fas fa-arrow-left"></i> <!-- Font Awesome arrow-left icon -->
  </a>
  <div class="signup-card">
    <h2 class="texcol">Signup</h2>
    <div class="form-container">
      <form id="signupForm">
        <label for="fullName" class="texcol">Full Name</label>
        <input type="text" id="fullName" name="fullName" placeholder="Enter your full name" required>
  
        <label for="email" class="texcol">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="password" class="texcol">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
  
        <label for="phoneNumber" class="texcol">Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number" required>
  
        <label for="college" class="texcol">College</label>
        <input type="text" id="college" name="college" placeholder="Enter your college" required>
  
        <label for="course" class="texcol">Course</label>
        <input type="text" id="course" name="course" placeholder="Enter your course" required>
  
        <button type="submit" id="signupButton">Sign Up</button>
      </form>
    </div>
  </div>
  
  <div class="matrix-effect">
    <canvas id="matrixCanvas"></canvas>
  </div>
  <script src="/scripts/indexscript.js"></script>

  <script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
  
      const formData = new FormData(this);
  
      // Convert form data to JSON
      const jsonObject = {};
      formData.forEach((value, key) => {
        jsonObject[key] = value;
      });
      const jsonData = JSON.stringify(jsonObject);
  
      fetch('/api/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: jsonData
      })
        .then(response => response.json())
        .then(data => {
          const popUpMessage = document.createElement('div');
          popUpMessage.classList.add('popup');
          document.body.appendChild(popUpMessage);
  
          const message = document.createElement('p');
          message.textContent = 'Thanks for signing up! Please check your email for account verification.';
          popUpMessage.appendChild(message);
  
          const redirectMessage = document.createElement('p');
          redirectMessage.textContent = 'Redirecting to home page in- ';
          popUpMessage.appendChild(redirectMessage);
  
          const countDown = document.createElement('span');
          let seconds = 8;
          const countdownInterval = setInterval(() => {
            seconds--;
            countDown.textContent = ` ${seconds} seconds`;
            if (seconds <= 0) {
              clearInterval(countdownInterval);
              window.location.href = '/';
            }
          }, 1000);
          redirectMessage.appendChild(countDown);
  
          setTimeout(() => {
            popUpMessage.style.bottom = '20px';
          }, 500); // Show popup after 0.5 seconds
        })
        .catch(error => {
          console.error(error); // Log any errors
        });
    });
  </script>

</body>

  <footer class="footer">
    <p>Made by - Eshan Singh |
      <a href="https://twitter.com/eshan___singh" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a> |
      <a href="https://www.linkedin.com/in/eshan-singh-3062501b1/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a> |
      <a href="https://github.com/eshan-singh78" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </p>
  </footer>
</html>
